.superInput {
    color: black;
   /* border: 2px solid red*/;
  /*  background-color: red;*/
    width: 300px;
    position: relative;
    height: 20px;
    max-width: 280px;
    border-radius: 5px;
    overflow: hidden
}

.errorInput {
    position: relative;
    border: 2px solid red;
    color: #efefef;
    width: 150%;
    height: 20px;
    max-width: 280px;
    border-radius: 3px;
   /* overflow: hidden*/


}

.error {
    display: block;
    width: 80px;
    vertical-align: top;
    font-family: inherit;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #202020 #1a1a1a #111;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #efefef, #672323);
    background-image: -moz-linear-gradient(top, #efefef, #672323);
    background-image: -o-linear-gradient(top, #efefef, #672323);
    background-image: linear-gradient(to bottom, #efefef, #672323);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
